
/*
------------------------------------
----- Content (Body)----------------
------------------------------------
*/

/*body h1{
	color:#4B8868;
	font-family: 'Finger Paint', cursive;
}*/

.conteudo{
	font-family: 'Sniglet', cursive;
	font-size: 150%;
	padding-top: 80px;
	/*padding-bottom: 50px;*/
	height: 750px;
	text-align: justify;
	padding-bottom: 80px;
}

.conteudo h1{
	text-align: center;
	padding-bottom: 5%;
	color:#4B8868;
	/*font-style: bold;*/
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Finger Paint', cursive;
	font-size: 50px;
}

.parallax-container {

  position: relative;
  overflow: hidden;
  height: 70vh;
  margin-top: 80px; 

}

.parallax-container h1{
	font-family: 'Finger Paint', cursive;
	color: #fff;
	text-shadow: 0 0 3px #eb1c22, 0 0 5px #000;
	text-align: center;
	padding-top: 70px;
	font-size: 500%;
}



.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  .parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%); }


#first_image {
	margin-top: 80px;
}

/*


