/*
------------------------------------
----- COLOR ------------------------
------------------------------------
*/

/*red1: #eb1c22*/
/*gray:#41424a*/
/*green:#4B8868*/
/*black:#303137*/
/*bege:#f9f3e7*/

/*
------------------------------------
----- NAVBAR -----------------------
------------------------------------
*/


/*Changeing size of the navbar*/
.navbar-brand,
.navbar-toggle,
.collapsed,
.navbar-default,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
    border-bottom: 0px;

    /*Changing color of the default navbar*/
    color: #eb1c22;
    background-color: #FFF;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}

/*Changing active colors*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    /*color: #FFF;*/
    /*background-color: #eb1c22;*/
    /*background-color: #4B8868;*/
    background-color: #FFF;
    border: 1px solid #4B8868;
    color: #4B8868;
/*    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 60px;*/
}


/*Changing text color*/

.navbar-default .navbar-nav>li>a {
    color: #eb1c22;
    /*font-size: 20px;*/
}

.navbar-default .navbar-brand {
    color: #eb1c22;
    /*font-size: 20px;*/
}

/*Button on the right -> when its on the cellphone*/
.navbar-toggle {
	margin:0px;
	border:0px;
}

.navbar{
		-webkit-box-shadow:0px 1px 10px #888;
 -moz-box-shadow:0px 1px 10px #888;
 box-shadow:0px 1px 10px #888;
}

/*When its on the cellphone:'(*/
@media (max-width: 768px) {
	.navbar-brand,
	.navbar-toggle,
	.collapsed,
	.navbar-default,
	.navbar-nav li a {
	    line-height: 50px;
	    height: 50px;
	    padding-top: 0;
	    border-bottom: 0px;
	    color: #eb1c22;
    	font-size: 20px;
    	margin:0px;
		}
	.navbar-default .navbar-brand {
    color: #eb1c22;
    /*font-size: 30px;*/
	}

	/*Logo is not working very well, discover why!*/
	#logo {
		padding: 0px;
		content:url("../img/soomilho_cell.png");
	}
}
