.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #eb1c22;
    position: relative;
    height: 80px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar .navbar-brand{

	color: #eb1c22;
}

#aboucorn{
	color: #fff;
	background-color: #eb1c22;
}

#aboutus{
	background-color: #fff;
	height: 200px;
}

#contato{
	background-color: #eb1c22;
	height: 200px;
}


#localizacao{
	background-color: #fff;
	height: 200px;
}

#footer{
	background-color: #eb1c22;
	height: 200px;
}