/*
------------------------------------
----- COLOR ------------------------
------------------------------------
*/

/*red1: #eb1c22*/
/*gray:#41424a*/
/*green:#4B8868*/
/*black:#303137*/
/*bege:#f9f3e7*/


/*
------------------------------------
----- Content (Body)----------------
------------------------------------
*/

body p{
	font-family: 'Sniglet', cursive;
	font-size: 20px;
}

body h1{
	color:#4B8868;
	/*font-style: bold;*/
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Finger Paint', cursive;
	font-size: 50px;
}
body h3{
	color:#4B8868;
	/*font-style: bold;*/
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Finger Paint', cursive;
}


/*
----- Carousel ---------------------
*/
#carousel{
	/*This is necessary due to the fixed-top attribute on the navbar*/
	/*padding-top: 80px;*/
	margin-top: 80px;
}
/*When its on the cellphone:'(*/
@media (max-width: 768px) {
	#carousel{
	/*This is necessary due to the fixed-top attribute on the navbar*/
	/*padding-top: 80px;*/
	margin-top: 50px;
	}
}

.c_section{

	height:100%;
}

.conteudo{
	padding-top: 80px;
	
}

.conteudo h1{text-align: center; padding-bottom: 5%;}

/*
---------Aboutus--------------------
*/

#aboutus{
	
	/*background-color: #f9f3e7;*/
	background-image: url(../img/palha-repeat-clara.jpg);
	background-repeat: repeat;
	
}

/*
-------------Contato-----------------
*/

#contato{
	
	background-color: #FFF;


}

#send{
	background-color: #4B8868;
}

/*
----- Localização ---------------------
*/

#gambiarra{
	height: 100px;
}
#localizacao{
	background-image: url(../img/palha-repeat-clara.jpg);
	background-repeat: repeat;	
	height: 850px;
}

#map{
	height: 350px;
	width: 100%;
	
}












