
/*
------------------img----------------
*/

#imagemdomilho {
  background-image: url("../img/carousel-1.jpg");
  /*height: 500px;*/
  background-repeat: no-repeat;
  background-size: cover;
   position: relative;
    height: 70vh;
}

/*
---------aboutcorn-----------------
*/

.conteudo{
	font-family: 'Sniglet', cursive;
	font-size: 30px;
	padding-top: 50px;
	/*padding-bottom: 50px;*/
	height: 80%;
	text-align: center;
}

.conteudo h1{
	text-align: center;
	padding-bottom: 5%;
	color:#4B8868;
	/*font-style: bold;*/
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Finger Paint', cursive;
	font-size: 50px;
}

.palha{
	background-image: url(../img/palha-repeat-clara.jpg);
	background-repeat: repeat;
}





.comofazer{
	font-family: 'Sniglet', cursive;
	font-size: 30px;
	padding-top: 50px;
	/*padding-bottom: 50px;*/
	height: 100%;
	text-align: center;
}

.comofazer h1{
	text-align: center;
	padding-bottom: 5%;
	color:#4B8868;
	/*font-style: bold;*/
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Finger Paint', cursive;
	font-size: 50px;
}


.milhao {
	color: #eb1c22;
	font-weight: bold;
}



.parallax-container {
  position: relative;
  overflow: hidden;
  height: 350px; 

}

.parallax-container h1{
	font-family: 'Finger Paint', cursive;
	color: #fff;
	text-shadow: 0 0 3px #eb1c22, 0 0 5px #000;
	text-align: center;
	padding-top: 70px;
	font-size: 500%;
}

.corConcreta{
	background-color: #FAF6E1;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  .parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%); }


#first_image {
	margin-top: 80px;
}