
/*
------------------img----------------
*/

#imagemdomilho {
  background-image: url("../img/carousel-1.jpg");
  /*height: 500px;*/
  background-repeat: no-repeat;
  background-size: cover;
   position: relative;
    height: 70vh;
}

/*
---------aboutcorn-----------------
*/

#aboutcorn{
	padding-top: 80px;
	font-family: 'Sniglet', cursive;
	font-size: 30px;
}

.milhao {
	color: #eb1c22;
	font-weight: bold;
}

/*
----------footer-------------------
*/
#footer_content{
	/*background-color: #4B8868;*/
	background-color: #ba1c1c;
	height: 125px;

}

#footer_content h4{
	padding-top: 40px;
}
#footer_content img {
	padding-top: 10px;
}

#lower_footer{
	/*background-color: #ba1c1c;*/
	background-color: #303137;
	height: 25px;
}

#footer{
	margin-top: 10%;
    width: 100%;
}
.footer{
	color:#fff;
	/*color:#fcca1b;*/
	text-align: center;
}
